#minerva-header {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#minerva-pronunciation {
    text-align: center;
    /*width: 45%;*/
    flex-shrink: 3;
    /*background-color: green;*/
}

#minerva-frequency {
    text-align: center;
    /*width: 45%;*/
    color: grey;
    flex-shrink: 5;
    /*background-color: blue;*/
}

#minerva-popup {
    font-family: "Noto Serif";
    color: black;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 0.75%;
    padding-right: 1%;
    padding-bottom: 0.75%;
    box-shadow: 1px 1px 8px 8px grey;
    position: fixed;
    font-size: 11px;
    background-color: white;
    z-index: 1000;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}
