.minerva-dfn-leaf:hover {
    background-color: #F5F5F5;
    cursor: pointer;
}

#minerva-definition-number {
    color: brown;
    margin-right: 5px;
}


#minerva-header {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#minerva-pronunciation {
    text-align: center;
    flex-shrink: 3;
}

#minerva-frequency {
    text-align: center;
    color: grey;
    flex-shrink: 5;
}

#minerva-popup {
    font-family: "Noto Serif";
    color: black;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-top: 0.75%;
    padding-right: 1%;
    padding-bottom: 0.75%;
    box-shadow: 1px 1px 8px 8px grey;
    position: fixed;
    font-size: 13px;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 10px;
}
